* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* header */
header {

    background-color: rgb(108, 145, 53);
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
}

.menu-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;

}

.menu-bar .main {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;

}

.menu-bar {
    margin-left: 100px;
    margin-top: 40px;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: 700;
}

.menu-bar .main a {
    padding-left: 70px;
}

.logo {
    border: 2px solid white;
    border-radius: 20px;
    height: 60px;
    width: 160px;
    margin-left: 250px;
    margin-top: 20px;
}

.navi {
    text-decoration: none;
    color: white;
}

.navi:hover {
    font-size: 35px;
    color: black;
}

.img1 {
    margin-top: -90px;
    background-image: url("../image/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
}

.hd1 {
    float: right;
    color: white;
    word-spacing: 35px;
    font-size: 25px;
    margin-right: 150px;
    margin-top: 40px;

}

.heading {
    position: relative;
    top: 200px;
}

/* content */
.container {
    border: 2px solid rgb(218, 224, 220);
    box-shadow: -10px 10px 30px 10px rgb(218, 224, 220);
    height: 250px;
    width: 1200px;
    position: relative;
    top: 200px;
    left: 150px;
}

.para1 {
    margin-left: 380px;
    margin-top: -150px;
    font-size: 20px;

}

.heading1img {
    margin-top: -175px;
    margin-left: 30px;
}

h2 {
    position: relative;
    top: 280px;
    left: 600px;
    font-size: 25px;
    color: brown;
}

h3 {
    font-size: 25px;
    color: rgb(6, 133, 137);
}

/* benefits */
.benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.benefit1 {
    border: 2px solid rgb(218, 224, 220);
    box-shadow: -10px 10px 30px 10px rgb(218, 224, 220);
    border-radius: 60px;
    height: 400px;
    width: 300px;
    font-size: 20px;
    position: relative;
    top: 300px;
    right: 150px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

}

.benefit2 {
    border: 2px solid rgb(218, 224, 220);
    box-shadow: -10px 10px 30px 10px rgb(218, 224, 220);
    border-radius: 60px;
    height: 400px;
    width: 300px;
    font-size: 20px;
    position: relative;
    right: 30px;
    top: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

}

.benefit3 {
    border: 2px solid rgb(218, 224, 220);
    box-shadow: -10px 10px 30px 10px rgb(218, 224, 220);
    border-radius: 60px;
    height: 400px;
    width: 300px;
    font-size: 20px;
    position: relative;
    top: 300px;
    left: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

}

.benefit4 {
    border: 2px solid rgb(218, 224, 220);
    box-shadow: -10px 10px 30px 10px rgb(218, 224, 220);
    border-radius: 60px;
    height: 400px;
    width: 300px;
    font-size: 20px;
    position: relative;
    top: 300px;
    right: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

}

.benefit5 {
    border: 2px solid rgb(218, 224, 220);
    box-shadow: -10px 10px 30px 10px rgb(218, 224, 220);
    border-radius: 60px;
    height: 400px;
    width: 300px;
    font-size: 20px;
    position: relative;
    top: 300px;
    left: 70px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

}

.sub-benefit1 {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 50px;
}

.sub-benefit2 {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 100px;
    left: 450px;
}

/* tools */
.toolheading {
    position: relative;
    top: -60px;
    font-size: 25px;
}

.tool {
    position: relative;
    top: 500px;
}

.toolparts {
    border: 2px solid rgb(218, 224, 220);
    box-shadow: -10px 10px 30px 10px rgb(218, 224, 220);
    border-radius: 60px;
    height: 270px;
    width: 650px;
    position: relative;
    padding-top: 40px;
    padding-left: 40px;
    left: 400px;
}

ul li {
    position: relative;
    left: 300px;
    top: -180px;
    font-size: 25px;
}

.required {
    position: relative;
    top: -20px;
    left: 200px;
}

/* soil */
.soil {
    position: relative;
    top: 600px;

}

h1 {
    position: relative;
    left: 50px;
}

.soilimg {
    position: relative;
    left: 50px;
    top: 50px;
}

.soilpara {
    position: relative;
    top: 100px;
    font-size: 20px;
    left: 50px;
}

/* water */
.watering {
    position: relative;
    top: 750px;
}

.wateringimg {
    position: relative;
    left: 50px;
    top: 50px;
}

.wateringpara {
    font-size: 20px;
    position: relative;
    left: 300px;
    top: -200px;
}

/* sunlight */
.sunlight {
    position: relative;
    top: 700px;
}

.sunlightimg {
    position: relative;
    left: 50px;
    top: 50px;
}

.sunlightpara {
    font-size: 20px;
    position: relative;
    left: 320px;
    top: -200px;
}

h1 {
    color: rgb(21, 21, 88);
}

.plantimages {
    position: relative;
    top: 700px;
    left: 150px;
}

@media screen and (max-width:400px) {
    header {
        width: 100%;
    }

    .container {
        border: 2px solid rgb(218, 224, 220);
        box-shadow: -10px 10px 30px 10px rgb(218, 224, 220);
        height: 600px;
        width: 350px;
        position: relative;
        top: 200px;
        left: 25px;
    }

    .para1 {
        margin-left: 30px;
        margin-top: 50px;
        font-size: 20px;

    }

    .benefit1 {
        position: relative;
        top: 230px;
        left: 30px;
        height: 330px;

    }

    .benefit2 {
        position: relative;
        top: 620px;
        left: -315px;
        height: 330px;

    }

    .benefit3 {
        position: relative;
        top: 1000px;
        left: -650px;
        height: 330px;

    }

    .benefit4 {
        position: relative;
        top: 980px;
        left: -410px;
        height: 330px;

    }

    .benefit5 {
        position: relative;
        top: 1360px;
        left: -750px;
        height: 310px;

    }

    h2 {
        position: relative;
        top: 250px;
        left: 30px;
        font-size: 30px;
        color: brown;
    }

    .toolheading {
        position: relative;
        top: 980px;
        font-size: 22px;
        left: 50px;
    }

    .tool {
        position: relative;
        top: 500px;
    }

    .toolparts {
        border: 2px solid rgb(218, 224, 220);
        box-shadow: -10px 10px 30px 10px rgb(218, 224, 220);
        border-radius: 60px;
        height: 480px;
        width: 300px;
        position: relative;
        padding-top: 40px;
        padding-left: 40px;
        left: 30px;
        top: 1000px;
    }

    ul li {
        position: relative;
        left: 10px;
        top: 60px;
        font-size: 25px;
    }

    .required {
        position: relative;
        top: 250px;
        left: 50px;
    }

    /* soil */
    .soil {
        position: relative;
        top: 600px;

    }

    h1 {
        position: relative;
        left: 80px;
        top: 950px;
    }

    .soilimg {
        position: relative;
        left: 20px;
        top: 980px;
        width: 350px;
    }

    .soilpara {
        position: relative;
        top: 1000px;
        font-size: 20px;
        left: 10px;
        word-break: normal;
    }

    /* water */
    .watering {
        position: relative;
        top: 700px;
    }

    .wateringimg {
        position: relative;
        left: 60px;
        top: 960px;
        width: 250px;
    }

    .wateringpara {
        font-size: 20px;
        position: relative;
        left: 30px;
        top: 1000px;
    }

    /* sunlight */
    .sunlight {
        position: relative;
        top: 800px;
        left: -40px;
    }

    .sunlightimg {
        position: relative;
        left: 80px;
        top: 980px;
    }

    .sunlightpara {
        font-size: 20px;
        position: relative;
        left: 80px;
        top: 1000px;
    }

    .plantimages {
        position: relative;
        top: 1850px;
        left: 10px;

    }

    hr {
        display: none;

    }

    footer {
        display: none;
    }


}

/* footer */

.footer {
    background-color: white;
    color: rgb(108, 145, 53);
    display: flex;
    justify-content: space-around;
    line-height: 2;
    letter-spacing: 2px;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    top: 850px;
}

hr {
    position: relative;
    top: 800px;
}

.footer1 {
    display: flex;
    align-items: center;
}

.footerone {
    padding-left: 30px;
}

.footertwo {
    display: flex;
    align-items: center;
}

.foot {
    background-color: rgb(108, 145, 53);
    height: 50px;
    width: 100%;
    position: relative;
    top: 900px;

}