body {
    font-size: 20px;
    background-color: rgb(249, 249, 246);
}

.logo {
    position: relative;
    left: 640px;
    border-radius: 30px;
}

.borderbox {
    border: 1px solid black;
    height: 570px;
    width: 500px;
    border-radius: 50px;
    position: relative;
    left: 480px;
    top: 60px;
}

.img {
    display: flex;
    margin-top: 10px;
    padding-left: 30px;
}

.label {
    padding-left: 35px;
    padding-top: 30px;
}

.para {
    padding-left: 70px;
    margin-top: -30px;
    color: rgb(193, 30, 30);
    font-weight: 600;
}

h4 {
    text-align: center;
    text-decoration: underline;
}

.gpay {
    margin-left: 20px;

}

.labelimg {
    float: right;
    margin-right: 20px;
}

.cancel {
    margin-top: 100px;
    margin-left: 510px;
}

.but {
    height: 35px;
    width: 220px;
    border: 0px solid   rgb(108, 145, 53);
    background-color:  rgb(108, 145, 53);
    border-radius: 10px;
}
a{
    text-decoration: none;
    font-size: 17px;
    color: white;
}