@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; 
  border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}
body{
  overflow-x: hidden;
}

/* header */
header {

  background-color: rgb(108, 145, 53);
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 2;
  display: flex;
}

.menu-bar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;

}

.menu-bar .main {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;

}

.menu-bar {
  margin-left: 300px;
  margin-top: 40px;
}

a {
  text-decoration: none;
  font-size: 25px;
  color: white;
  font-weight: 700;
}

.menu-bar .main a {
  padding-left: 70px;
}

.logo {
  border: 2px solid white;
  border-radius: 20px;
  height: 60px;
  width: 160px;
  margin-left: 200px;
  margin-top: 20px;
}

.navi {
  text-decoration: none;
  color: white;
}

.navi:hover {
  font-size: 35px;
  color: black;
}

.img1 {
  margin-top: -90px;
  background-image: url("../image/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
}

.hd1 {
  float: right;
  color: white;
  word-spacing: 35px;
  font-size: 25px;
  margin-right: 150px;
  margin-top: 40px;

}

.container{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding:25px;
  min-height: 100vh;
  /* background-color: rgb(108, 145, 53);  */
}

.container form{
  margin-top: 100px;
  margin-left: 70px;
  padding:50px;
  width:900px;
  background: #fff;
  box-shadow: -10px 10px 30px 10px rgba(0,0,0,.1);
}
#branchname{
  position: relative;
  top: 20px;
}
 .name{
  position: relative;
  top: 20px;
}


.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:30px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: grid;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width:800px;
  padding:12px;
  font-size: 17px;
  background:  rgb(108, 145, 53);;
  color:#fff;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
}
.store{
  border: 2px solid white;
  box-shadow: -10px 10px 30px 10px rgb(213, 219, 215);
  height: 600px;
  width: 400px;
  position: relative;
  left:1050px;
  top: -700px;
  padding-left: 30px;
  overflow-y: scroll;
  overflow-x: hidden; 

}
a{
  color: white;
  text-decoration: none;
}

.mobile{
  position: relative;
  top: 20px;
}
.tomato{
  height: 100px;
  width: 150px;
  position: relative;
  left: 140px;
}
.product1{
  position: relative;
  top: 50px;
}

.labelimg2{
  position: relative;
  left: 30px;
  top: 3px;
}
.name1{
  position: relative;
  top: 20px;
}
.amount{
  font-size: 17px;
  position: relative;
  left: 150px;
}
.labelimg1{
  position: relative;
  left: 60px;
  top: 18px;
}
.span3{
  position: relative;
  left: 20px;
}
.price{
  position: relative;
  top: 25px;
}
.span2{
  position: relative;
  left: 33px;
}

.span1{
  position: relative;
  left: 20px;
}
#cashondelivery{
  position: relative;
  left: 5px;
}
#expand{
  position: relative;
  left: -218px;
  top: 18px;
}
#upi{
  position: relative;
  left: 0px;
}
.ordersummary{
  font-size: 20px;
  text-align: center;
}
.titlename{
  font-size: 15px;
  position: relative;
  left: 150px;
}
.quantity{
  font-size: 15px;
  position: relative;
  left: 150px;
}
.box_div{
  border: 1px solid white;
  box-shadow: -10px 10px 30px 10px rgb(229, 233, 231);
  width: 370px;
  height: 300px;
  position: relative;
  left: -25px;
  top: 20px;
  margin: 30px 10px 10px 10px;
  padding-left: 10px;
}

@media screen and (max-width:400px) {
  .container form{
    height: 1150px;
    width: 380px;
    
  }
  .container form .submit-btn{
    width: 320px;
  }
  
}
