@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; 
  border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
  /* background-color: rgb(108, 145, 53);  */
}

.container form{
  padding:20px;
  width:900px;
  background: #fff;
  box-shadow: 5px 10px 5px 10px rgba(0,0,0,.1);
}
#branchname{
  position: relative;
  top: 20px;
}
 .name{
  position: relative;
  top: 20px;
}


.container form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.container form .row .col{
  flex:1 1 250px;
}

.container form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox{
  margin:15px 0;
}

.container form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.container form .row .col .flex{
  display: flex;
  gap:15px;
}

.container form .row .col .flex .inputBox{
  margin-top: 5px;
}

.container form .row .col .inputBox img{
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn{
  width:860px;
  padding:12px;
  font-size: 17px;
  background:  rgb(108, 145, 53);;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
  text-align: center;
}
.store{
  border: 2px solid white;
  box-shadow: -10px 10px 30px 10px rgb(186, 192, 188);
  height: 400px;
  width: 400px;
}
a{
  color: white;
  text-decoration: none;
}
.mobile{
  position: relative;
  top: 20px;
}
.tomato{
  height: 200px;
  width: 250px;
}
.labelimg3{
  position: relative;
  left: 750px;
  top: -35px;
}
.labelimg2{
  position: relative;
  left: 230px;
  top: 3px;
}
.labelimg1{
  position: relative;
  left: 130px;
  top: 18px;
}
.span3{
  position: relative;
  left: 300px;
}
.span2{
  position: relative;
  left: 200px;
}
.span1{
  position: relative;
  left: 100px;
}
#cashondelivery{
  position: relative;
  left: 280px;
}
#postpaid{
  position: relative;
  left: 180px;
}
#upi{
  position: relative;
  left: 70px;
}
@media screen and (max-width:400px) {
  .container form{
    height: 1150px;
    width: 380px;
    
  }
  .container form .submit-btn{
    width: 320px;
  }
  
}
