@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

/* header */
header {

    background-color: rgb(108, 145, 53);
    height: 100px;
    width: 100%;
    /* position: fixed; */
    /* top: 0; */
    /* z-index: 2; */
    display: flex;
}

.menu-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;

}


.menu-bar {
    margin-left: 70px;
    margin-top: 40px;
}


.hdg {
    font-size: 22px;
    position: relative;
    top: 0px;

}


header a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.menu-bar ul li {
    padding-left: 90px;
    /* margin-top: -50px; */
}

.logo {
    border: 2px solid white;
    border-radius: 20px;
    height: 60px;
    width: 160px;
    margin-left: 250px;
    margin-top: 20px;
}

.navi {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    margin: 3rem 150px;
    margin-top: 70px;
    margin-left: 70px;
    width: 1500px;

}

.cart {
    width: 65%;
    background-color: #f2f2f2;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 30px 0;
}

table {
    width: 100%;
    padding: 10px;
    text-align: center;

}

.table-head {
    color: white;
    background-color: rgb(108, 145, 53);
}

.head-img {
    text-align: left;
    padding-left: 7px;
}

.summary {
    background-color: #f2f2f2;
    width: 25%;
    margin-left: 20px;
    height: 600px;

}

.summary hr {
    display: none;
}

.summary::-webkit-scrollbar {
    display: none;
}

.get {
    display: none;
    position: relative;
    top: 300px;
    left: 450px;
    
}
.get p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #333;
}
.detail {
    margin: 10px 6;
    padding: 0 10px;
    align-items: center;
    background-color: rgb(108, 145, 53);
    color: white;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

input {
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    margin: 15px 0;
    padding: 7px;
}


button {
    border: none;
    background-color: red;
    padding: 8px 30px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 15px;
    margin: 5px 0px 0px 40px;

}

.checkout {
    width: 100%;
    background-color: rgb(108, 145, 53);
    margin-left: -3px;

}

button:hover,
.checkout:hover {
    background-color: #333;
}

.img-box {
    margin: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid rgb(108, 145, 53);
    background-color: white;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: relative;
    /* top: -50px; */
    left: 20px;
}

/* .img{
    max-width: 52px;
    max-height: 52px;
    border-radius: 50%;

} */
.fa-trash {
    color: rgb(108, 145, 53);
}

.fa-trash:hover {
    color: #333;
}

.title {
    font-size: 18px;
    position: relative;
    top: -60px;
    left: 150px;
}

.price {
    font-size: 18px;
    position: relative;
    top: -79px;
    left: 370px;
}

#bin-icon {
    color: #333;
    font-size: 30px;
    position: relative;
    top: -195px;
    left: 900px;
}

#bin-icon:hover {
    color: rgb(108, 145, 53);
}

.quanty {
    position: relative;
    top: -100px;
    left: 470px;
}

.btn-input {
    width: 100px;
    height: 40px;
}

.btn1 {
    position: relative;
    left: 580px;
    top: -145px;
    margin: 0px 0px 10px 10px;
}

.btn-input {
    position: relative;
    left: 585px;
    top: -145px;
}

.product_image hr {
    position: relative;
    top: -80px;

}

.shippingInput {
    height: 100px;
}

#headimage {
    position: relative;
    left: 40px;
    font-size: 19px;
}

#headname {
    position: relative;
    left: 40px;
    font-size: 19px;

}

#headprice {
    position: relative;
    left: -160px;
    font-size: 19px;
}

#headquantity {
    position: relative;
    left: -140px;
    font-size: 19px;

}

#headdelete {
    position: relative;
    left: 50px;
    font-size: 19px;
}