body {
    font-weight: 600;
    font-size: 20px;
    overflow-x: hidden;


}

/* header */
header {

    background-color: rgb(108, 145, 53);
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    top: 0%;
    margin-left: -5px;
}

.menu-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;


}

.menu-bar .main {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;


}


.menu-bar {
    margin-left: 400px;
    margin-top: 40px;
}

.main a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: 700;
}

.menu-bar .main a {
    padding-left: 70px;
}

.logo {
    border: 2px solid white;
    border-radius: 20px;
    height: 60px;
    width: 160px;
    margin-left: 250px;
    margin-top: 20px;
}

.navi {
    text-decoration: none;
    color: white;
}

.navi:hover {
    font-size: 35px;
    color: black;
}

.img1 {
    margin-top: -90px;
    background-image: url("../image/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
}

.hd1 {
    float: right;
    color: white;
    word-spacing: 35px;
    font-size: 25px;
    margin-right: 150px;
    margin-top: 40px;

}

.borderbox {
    background-color: white;
    border: 0px solid white;
    box-shadow: -5px 5px 10px 5px rgb(205, 205, 204);
    height: 200px;
    width: 1250px;
    position: relative;
    top: 100px;
    left: 80px;
    margin-top: 70px;
    /* padding-top: -200px; */
}

h3 {
    margin-left: 50px;
    font-size: 25px;
    position: relative;
    top: 30px;
    color: brown;
}

h4 {
    position: relative;
    left: 250px;
    top: -120px;
    font-size: 25px;
    color: rgb(22, 88, 22);
    /* font-weight: 600; */
}

h5 {
    position: relative;
    left: 580px;
    top: -188px;
    font-size: 24px;
    color: rgb(42, 39, 188);
}

.tomato1 {
    position: relative;
    left: 60px;
    top: 20px;
    height: 160px;
    width: 160px;
}

.grapes {
    position: relative;
    top: -110px;
    left: 30px;
}

.remove {
    position: relative;
    left: 722px;
    top: -320px;
    color: red;
}


#number1 {
    position: relative;
    left: 780px;
    top: -275px;
    height: 50px;
    text-align: center;
}


.content1 {
    position: relative;
    left: 900px;
    top: -300px;
}


.content2 {
    position: relative;
    left: 900px;
    top: -420px;
}


a {
    text-decoration: none;
    color: rgb(204, 86, 42);
}


.line {

    position: relative;
    top: -515px;
    left: 300px;
    height: 1.5px;
    width: 800px;
    background-color: grey;
}

button {

    border: 0px solid rgb(193, 215, 224);
    position: relative;
    top: -500px;
    left: 550px;
    height: 30px;
    width: 200px;
    color: black;
    font-size: 17px;
    border-radius: 50px;
    padding-top: -100px;
}

#rupee {
    position: relative;
    top: -500px;
    left: 725px;
}

p {
    position: relative;
    top: -548px;
    left: 950px;

}

.exit {
    position: relative;
    top: 650px;
    left: 300px;
}

.fa-solid {
    font-size: 40px;
    position: relative;
    left: 150px;
    top: -25px;
}

.order {
    position: relative;
    top: 550px;
    left: -975px;

}

.price {
    border: 2px solid white;
    box-shadow: -5px 5px 10px 5px rgb(205, 205, 204);
    width: 230px;
    height: 130px;
    position: relative;
    top: 200px;
    bottom: 5px;
    left: 1095px;
    text-align: center;
}

#total_count1 {
    margin-left: 130px;
    margin-top: -42px;
}

@media screen and (max-width:400px) {
    header {
        width: 100%;
        height: 140px;
        margin-left: -50px;
    }

    .logo {
        border: 2px solid white;
        border-radius: 20px;
        height: 50px;
        width: 100px;
        margin-left: 50px;
        margin-top: 20px;
    }

    .menu-bar ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        text-decoration: none;


    }

    .main a {
        font-size: 23px;

    }

    .menu-bar {
        margin-left: -160px;
        margin-top: 100px;
        padding-left: -20px;

    }

    .borderbox {
        background-color: white;
        border: 0px solid white;
        box-shadow: -5px 5px 10px 5px rgb(205, 205, 204);
        height: 600px;
        width: 350px;
        position: relative;
        top: 100px;
        left: 20px;
        margin-top: 70px;
        /* padding-top: -200px; */
    }

    .tomato1 {
        position: relative;
        left: 40px;
        top: 20px;
        height: 250px;
        width: 250px;
    }

    h4 {
        position: relative;
        left: 50px;
        top: -10px;
        font-size: 28px;
        color: rgb(22, 88, 22);
        /* font-weight: 600; */
    }

    h5 {
        position: relative;
        left: 110px;
        top: -13px;
        font-size: 24px;
        color: rgb(42, 39, 188);
    }

    #number1 {
        position: relative;
        left: 45px;
        top: -10px;
        height: 50px;
        width: 250px;
        text-align: center;
    }

    .fa-solid {
        font-size: 40px;
        position: relative;
        left: -750px;
        top: 320px;
    }


}