body {
    font-size: 20px;
    /* background-color: rgb(244, 244, 223); */
    font-size: 25px;
    
}


header {
    background-color: rgb(108, 145, 53);
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    margin-top: -200px;
    
}
a{
    transition: 0.5s;
}
a:hover{
   transform: scale(1.1);
}
.menu-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;

}

.menu-bar .main {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;

}

.menu-bar {
    margin-left: 350px;
    margin-top: 50px;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: 700;
}

.menu-bar .main a {
    padding-left: 70px;
}

.logo {
    border: 2px solid white;
    border-radius: 20px;
    height: 60px;
    width: 170px;
    margin-left: 250px;
    margin-top: 20px;
}

.hd1 {
    float: right;
    color: white;
    word-spacing: 35px;
    font-size: 25px;
    margin-right: 150px;
    margin-top: 40px;

}
input{
    height: 30px;
    width: 400px;
    border-radius: 30px;
}

button{
    height: 35px;
    width: 220px;
    border: 0px solid rgb(108, 145, 53);
    background-color: rgb(108, 145, 53);
    border-radius: 10px;
    font-size: 17px;
    color: white;
    margin-left: 180px;
    
}

.container{
    padding-left: 30px;
    border: 3px solid rgb(247, 246, 246);
    box-shadow: -5px 5px 10px 5px  rgb(218, 214, 214);
    /* border-radius: 30px; */
    background-color: white;
    height: 550px;
    width: 600px;
    margin-left: 450px;
    margin-top: 200px;
    
}
input:focus{
    border-radius: 30px;
    outline: none;
    border-color: rgb(56, 86, 9);
    box-shadow: 1px 1px 1px 1px rgb(108, 145, 53);
}
#image{
    margin-top: 30px;
    margin-left: 20px;
}
#titlename{
    margin-top: 30px;
    margin-left: 65px;
}
#price{
    margin-top: 30px;
    margin-left: 60px;
}
#ratings{
    margin-top: 30px;
    margin-left: 45px;
}
table td img{
    width: 150px;
    height: 150px;
}


table {
    margin-left: -450px;
    margin-top: 150px;
    padding: 30px;
}