body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    background-image: url(../image/loginbg.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.bg { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

form {
    line-height: 50px;
}

.para {
    margin-top: -70px;
    margin-right: 250px;

}

.para1 {
    margin-top: -30px;
    margin-right: 280px;
}

.para2 {
    margin-top: -30px;
    margin-right: 250px;
}

.but {
    margin-top: 20px;
    height: 40px;
    width: 320px;
    margin-right: 10px;
    color: white;
    border: 0px solid rgb(35, 129, 35);
    background-color: rgb(35, 129, 35);
    border-radius: 10px;
    font-size: 18px;

}

a {
    text-decoration: none;
    font-size: 15px;
    
}

.mhd {
    background-color: white;
    border: 2px solid white;
    box-shadow: 20px 20px 20px rgb(218, 224, 220);
    border-radius: 50px;
    height: 700px;
    width: 400px;
    padding: 5px 10px;
    
}
.mhd input{
    border-radius: 10px;

}
.mhd input:focus{
    outline: none;
    border-color: rgb(49, 146, 194);
    box-shadow:1px 1px 1px 1px  rgb(49, 146, 194);
}
#username {
    height: 35px;
    width: 320px;
    position: relative;
    top: -30px;
}

#email {
    height: 35px;
    width: 320px;
    position: relative;
    top: -30px;
}

#password {
    height: 35px;
    width: 320px;
    position: relative;
    top: -30px;
}

/* .icon {
    margin-top: 70px;
    margin-right: 5px;
} */

.fa-brands {
    color: rgb(35, 129, 35);
    padding-left: 20px;
    font-size: 33px;
    margin-right: 30px;

    
}
.fa-brands:hover{
    color: rgb(98, 184, 219);
    font-size: 35px;
}

.or p{
    font-size: 20px;
    font-size: 22px;
}
.or a{
    font-size: 22px;
}



@media screen and (max-width:400px) {
    body {
        margin: 0%;
        padding: 0%;
        height: 890px;
        width: 100%;
    }

    .mhd {
        background-color: white;
        border: 2px solid white;
        box-shadow: 20px 20px 20px rgb(218, 224, 220);
        border-radius: 40px;
        height: 600px;
        width: 280px;
        margin-top: -180px;
    }

    .icon {
        margin-left: -6px;
        /* margin-top: -5px; */

    }

    .fa-brands {
        color: rgb(35, 129, 35);
        padding-left: 10px;
        font-size: 25px;
        margin-right: 20px;
    }

    .check {
        position: relative;
        top: -12px;
        padding: 10px;
        background-color: white;
        color: black;
        font-size: 15px;

    }

    #choice {
        margin-left: 30px;
        background-color: gray;
        height: 0.5px;
        width: 250px;
        position: relative;
        bottom: -40px;

    }

    .but {
        width: 230px;
    }

    #username {
        width: 230px;
    }

    #email {
        width: 230px;
    }

    #password {
        width: 230px;
    }

    .img {
        height: 100px;
        width: 100px;
    }

}