* {
    padding: 0;
    margin: 0;
}

.img {
    margin-left: 640px;
    margin-top: 220px;
}

.logo {
    position: relative;
    left: 660px;
    border-radius: 30px;
}

.container {
    text-align: center;
    position: absolute;
    left: 46%;
    transform: translate(-50%, -50%);
}

.container span {
    color: rgb(40, 175, 20);
    text-transform: uppercase;
    display: block;
}

.text1 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    animation: text 3s 1;
    margin-top: 150px;
    margin-left: 120px;
}

.text2 {
    margin-top: 30px;
    font-size: 30px;
    margin-left: 120px;
}

@keyframes text {
    0% {
        margin-bottom: -40px;
    }

    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }

    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

.borderbox img {
    animation-name: make;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes make {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }
}

.last {
    margin-top: 40px;
    margin-left: 100px;
}

.last a {

    font-size: 20px;
    text-decoration: none;
    color: green;
}
@media screen and (max-width:400px) {
    .img {
        margin-left: 100px;
        margin-top: 50px;
    }
    .text1 {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 8px;
        /* margin-bottom: 20px; */
        position: relative;
        animation: text 3s 1;
        margin-top: 300px;
        margin-left: 50px;
    }
    
    .text2 {
        margin-top: 30px;
        font-size: 30px;
        margin-left: 50px;
    }
    .last {
        margin-top: 40px;
        margin-left: 50px;
    }
}