header {

    background-color: rgb(108, 145, 53);
    height: 100px;
    width: 101%;
    position: fixed;
    left: -5px;
    top: 0;
    z-index: 2;
    display: flex;
}

.menu-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;

}


.menu-bar {
    margin-left: 270px;
    margin-top: 40px;
}

.hdg {
    font-size: 25px;
}

header a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.menu-bar ul li {
    padding-left: 90px;
    margin-top: -50px;
}

.logo {
    border: 2px solid white;
    border-radius: 20px;
    height: 60px;
    width: 160px;
    margin-left: 250px;
    margin-top: 20px;
}
#search{
    margin-left: -230px;
    height: 40px;
    width: 250px;
}