@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body {
    overflow-x: hidden;
    font-family: 'Roboto Slab', serif;
}

header {
    background-color: rgb(108, 145, 53);
    height: 100px;
    width: 101%;
    position: fixed;
    left: -5px;
    top: 0;
    z-index: 2;
    display: flex;

}

.menu-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;

}


.menu-bar {
    margin-left: 350px;
    margin-top: 40px;
}

.hdg {
    font-size: 25px;
}

header a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.menu-bar ul li {
    padding-left: 90px;
    margin-top: -50px;
}

.logo {
    border: 2px solid white;
    border-radius: 20px;
    height: 60px;
    width: 160px;
    margin-left: 250px;
    margin-top: 20px;
}

#search {
    margin-left: -230px;
    height: 40px;
    width: 250px;
}

.tomato1 {
    height: 150px;
    width: 150px;
}

.borderbox {
    border: 2px solid white;
    box-shadow: -5px 5px 10px 5px rgb(205, 205, 204);
    height: 200px;
    width: 800px;
    position: relative;
    top: 150px;
    left: 100px;
    margin-top: 50px;
}

h1 {
    position: relative;
    top: 160px;
    left: 100px;
    color: rgb(3, 103, 3);
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: -140px;
    left: -80px;
    color: rgb(117, 115, 115);
}

h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: -150px;
    left: -140px;
    color: rgb(117, 115, 115);

}

h4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: -150px;
    left: -150px;
    color: rgb(117, 115, 115);

}

#product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: -200px;
    left: 80px;

}

#order {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: -150px;
    left: -65px;
    font-size: 19px;
}

.get {
    display: none;
    position: relative;
    top: 300px;
    left: 450px;
    
}
#total_count1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: -150px;
    left: -90px;
    font-size: 19px;
}

.price {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 450px;
    top: -100px;
    color: rgb(117, 115, 115);


}

.profile_box {
    border: 2px solid white;
    box-shadow: -5px 5px 10px 5px rgb(205, 205, 204);
    height: 490px;
    width: 450px;
    display: flex;
    position: fixed;
    left: 980px;
    top: 130px;
    font-size: 18px;
}

#user_profile {
    height: 130px;
    width: 130px;
    border: 0px solid white;
    border-radius: 50%;
    position: relative;
    left: 10px;
    top: 5px;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: -100px;
    top: 140px;
    color: rgb(117, 115, 115);
}

#user_name {
    position: relative;
    left: 150px;
    top: -100px;
    color: rgb(117, 115, 115);
}
#cancelbutton{
    font-size: 18px;
    font-weight: 600;
    height: 38px;
    width: 195px;
    border: 0px solid rgb(108, 145, 53);
    background-color: rgb(108, 145, 53);
    color: white;
    position: relative;
    left: -70px;
    top: -140px;
    display: none;

}
#cancelled{
    font-size: 18px;
    font-weight: 600;
    height: 38px;
    width: 195px;
    border: 0px solid rgb(214, 18, 18);
    background-color: rgb(214, 18, 18);
    color: white;
    position: relative;
    left: -70px;
    top: -150px;
    display: none;
}
