@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    overflow-x: hidden;
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

header {

    background-color: rgb(108, 145, 53);
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;

}

.menu-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    text-decoration: none;

}

.menu-bar ul li {
    margin-left: 20px;
}

.menu-bar {
    width: 100%;
    margin-left: 250px;
    margin-top: 40px;
}

.hdg {
    font-size: 25px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 700;
}

.menu-bar ul li {
    padding-left: 70px;
}
#cartcount{
    font-size: 24px;
    color: white;
    font-weight: 800px;
    position: relative;
    top: -45px;
    left: -5px;
}
.logo {
    border: 2px solid white;
    border-radius: 20px;
    height: 60px;
    width: 200px;
    margin-left: 250px;
    margin-top: 20px;
}

.navi {
    text-decoration: none;
    color: white;
}

.navi:hover {
    font-size: 35px;
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

main {
    width: 100%;
}

.box {
    border: 2px solid white;
    height: 850px;
    width: 1200px;
    box-shadow: -10px 10px 30px 10px rgb(218, 224, 220);
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 150px;
    top: 200px;
}

.offimg{
    height: 70px;
    width: 70px;
}
.heading1 {
    position: relative;
    margin-top: -370px;
    margin-left: 400px;
    font-size: 35px;

}

h2 {
    font-size: 30px;
    color: rgb(26, 66, 67);
    position: relative;
    left: 5px;
    top:20px;
}

h4 {
    font-size: 30px;
    color: rgb(121, 70, 33);
    position: relative;
    left: 8px;
    top: -10px;
  
}
.description{
    font-weight: 18px;
    line-height: 1.3;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 18px;
    font-size: 21px;
    color: rgb(123, 121, 121);
}

#star{
    color: gold;
    font-size: 16px;
    position: relative;
   
}

.quantity {
    height: 35px;
    width: 190px;
    border-radius: 40px;
    color: rgb(108, 145, 53);
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 50px;
    right: 190px;
}


#buybutton {
    font-size: 18px;
    font-weight: 600;
    height: 38px;
    width: 195px;
    border: 0px solid rgb(108, 145, 53);
    background-color: rgb(108, 145, 53);
    color: white;
    position: relative;
    top: -10px;
    left: -280px;

}

#cartbutton{
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    width: 200px;
    border: 0px solid rgb(108, 145, 53);
    background-color: rgb(108, 145, 53);
    color: white;
    position: relative;
    top: -10px;
    left: 250px;
    
}
i {
    padding-right: 10px;

}
.fas{
    color: black;
    position: relative;
    left: 30px;
    top: -75px;
}
#price{
    position: relative;
    left: 30px;
    top: -73px;
}
/* #add-to-cart{
    position: relative;
    top: -50px;

} */


/* i:hover {
    color: rgb(248, 10, 10);
} */

.heading2 {
    border: 2px solid white;
    box-shadow: -10px 10px 30px 10px rgb(218, 207, 207);
    border-radius: 100px;
    height: 400px;
    width: 1200px;
    margin-top: 300px;
    margin-left: 140px;
    background-color: rgb(245, 242, 238);
}

h3 {
    /* text-align: center; */
    color: rgb(51, 17, 202);
    font-size: 30px;
    position: relative;
    top: 10px;
    
}

li {
    font-size: 20px;
    margin-left: 80px;
}

ul li {
    font-size: 20px;
    margin-left: 150px;
}

hr {
    margin-top: 50px;
}

.product-list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 150px;
}

.cheerytomato,
.camparitomato,
.romatomato,
.jubileetomato {
    border: 2px solid rgb(218, 224, 220);
    box-shadow: -10px 10px 30px 10px rgb(218, 224, 220);
    border-radius: 50px;
    height: 600px;
    width: 320px;
    text-align: center;
    font-size: 20px;
}

h5 {
    font-size: 23px;
    color: rgb(78, 59, 95);
}

h6 {
    font-size: 20px;
    color:rgb(208, 54, 84);
    margin-top: -15px;
}

#star {
    color: gold;
}

#but {
    height: 35px;
    width: 220px;
    border: 0px solid rgb(108, 145, 53);
    border-radius: 30px;
    background-color: rgb(108, 145, 53);
}

.footer {
    background-color: white;
    color: rgb(108, 145, 53);
    display: flex;
    justify-content: space-around;
    line-height: 2;
    letter-spacing: 2px;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;

}

hr {
    margin-top: 280px;
}

.h31 {
    color: rgb(108, 145, 53);
    font-size: 20px;
}

.footer1 {
    display: flex;
    align-items: center;
}

.footerone {
    padding-left: 30px;
}

.footertwo {
    display: flex;
    align-items: center;
}

.foot {
    background-color: rgb(108, 145, 53);
    height: 50px;
    width: 100%;

}
.tomato{
    height: 390px;
    width: 350px;
    position: relative;
    top: 80px;
}
i{
    margin-left: 70px;
    color: white;
    font-size: 25px;
}
#cartCount{
    position: relative;
    left:-5px;
    top: -30px;
    text-align: center;
    font-size:23px;
    border: 3px solid white;
    border-radius:15px;
    width:20px;
    bottom:65px;
}
input {
     /* border: none; */
    outline: none; 
    width: 100px;
    height: 40px;
    margin: 15px 0;
    position: relative;
    top: -23px;
    left: -15px;
    /* padding: 7px; */
}
button {
    border: none;
    background-color: red;
    padding: 8px 30px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 15px;
    margin: 10px 10px -10px 40px;
    position: relative;
    left: -30px;
    top: -25px;

}
button:hover {
    background-color: #333;
}

   
@media screen and (max-width:400px) {
    header {

        background-color: rgb(108, 145, 53);
        height: 100px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 2;
        display: flex;
    }
    
    .menu-bar ul {
        list-style: none;
        /* display: flex;
        flex-direction: row;
        justify-content: space-around; */
        text-decoration: none;
    
    }
    
    
    /* .menu-bar {
        margin-left: 270px;
        margin-top: 40px;
    } */
    
    .hdg {
        font-size: 20px;
        position: relative;
        left: -450px;
        top: 60px;
    }
    
    header a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 700;
        color: white;
    }
    
    .menu-bar ul li {
        /* padding-left: 20px; */
        margin-top: -50px;
    }
    
    .logo {
        border: 2px solid white;
        border-radius: 20px;
        height: 40px;
        width: 120px;
        margin-left: 10px;
        margin-top: 20px;
    }
    
    .navi {
        text-decoration: none;
        color: white;
    }
    
    .navi:hover {
        font-size: 35px;
        color: black;
    }
    .box {
        border: 2px solid white;
        height: 820px;
        width: 350px;
        box-shadow: -10px 10px 30px 10px rgb(218, 224, 220);
        border-radius: 0px;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 30px;
        top: 200px;
    }
    
    .offimg{
        height: 70px;
        width: 70px;
    }
    .heading1 {
        position: relative;
        margin-top: -20px;
        margin-left: 50px;
        font-size: 35px;
    
    }
    
    h2 {
        font-size: 30px;
        color: rgb(45, 102, 103);
    }
    
    h4 {
        font-size: 25px;
        color: rgb(129, 64, 18);
        position: relative;
        left: 10px;
    }
    
    
    #star{
        color: gold;
        font-size: 18px;
        
    }
    
    .quantity {
        height: 35px;
        width: 230px;
        border-radius: 40px;
        color: rgb(108, 145, 53);
        text-align: center;
        font-size: 20px;
        position: relative;
        top: 30px;
        left: -5px;
    }
    
    
    #buybutton {
        font-size: 18px;
        font-weight: 600;
        height: 38px;
        width: 240px;
        border: 0px solid rgb(108, 145, 53);
        border-radius: 40px;
        background-color: rgb(108, 145, 53);
        color: white;
        position: relative;
        top: 10px;
        left: -5px;
    
    }
    
    #cartbutton{
        font-size: 18px;
        font-weight: 600;
        height: 40px;
        width: 240px;
        border: 0px solid rgb(108, 145, 53);
        border-radius: 40px;
        background-color: rgb(108, 145, 53);
        color: white;
        position: relative;
        top: 120px;
        left: -5px;
        
    }
    .tomato{
        height: 330px;
        width: 350px;
    }
    hr{
        display: none;
    }

    footer{
        display: none;
    }

}