body {
    background-image: url(../image/various-vegetables-black-table-with-space-message.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.outer_container {
    background-color: white;
    border: 1px solid white;
    box-shadow: -8px 5px 30px rgb(236, 241, 236);
    height: 750px;
    width: 1200px;
    margin-left: 140px;
    margin-top: 70px;

}

.edit {
    margin-top: 80px;
}

.header_container {
    background-color: rgb(159, 215, 54);
    border: 1px solid rgb(159, 215, 54);
    height: 50px;
    width: 1100px;
    margin-left: 45px;
    margin-top: 30px;

}

.header_container a {
    font-size: 25px;
    margin-left: 50px;
    text-decoration: none;
    color: black;
    font-style: bold;
}

.details p {
    font-size: 25px;
    position: relative;
    left: 60px;
    top: 30px;
    padding-top: 20px;

}

button {
    height: 40px;
    width: 200px;
    position: relative;
    left: 30px;
    font-size: 20px;
    border-radius: 30px;
    border-color: rgb(235, 232, 225);
    background: rgba(0, 0, 0, 0.7);
    color: wheat;

}

button:hover {
    color: white;
    background-color: green;
}

.profile_image img {
    height: 250px;
    width: 250px;
}
.profile{
    border: 0px solid white;
    height: 150px;
    width: 150px;
    border-radius: 500px;
   
}
#photo{
    height: 180px;
    width: 180px;
    margin-left: 30px;
    margin-top: 50px;
}

#file {
    margin-left: -200px;
    display: none
}

#uploadbtn {
    height: 35px;
    width: 180px;
    border-radius: 20px;
    /* padding-top: 20px; */
    position: absolute;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    cursor: pointer;
    margin-top: 250px;
    margin-left: -80px;
    /* display: none; */
}

#uploadbtn:hover {
    color: white;
    background-color: green;
}

label {
    font-size: 20px;

}

input {
    height: 40px;
    width: 300px;
    border-radius: 20px;
    border-color: rgb(235, 232, 225);
    outline: none;
}

input:focus {
    outline: none;
    border-color: rgb(49, 146, 194);
    box-shadow: 1px 1px 1px 1px rgb(49, 146, 194);
}

h1 {
    position: relative;
    left: 350px;
    top: -520px;

}

.profile_form {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 150px;
    top: -490px;
}

.email_container {
    position: relative;
    left: 345px;
    top: -470px;
}

.email_container input {
    height: 40px;
    width: 805px;
}

.profile_form2 {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 150px;
    top: -440px;
}

.address_container {
    position: relative;
    left: 345px;
    top: -410px;
}

.address_container input {
    height: 60px;
    width: 805px;
}

.profile_form3 {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 150px;
    top: -390px;
}

a {
    text-decoration: none;
    color: wheat;
}

@media screen and (max-width:400px) {
    body {
        background-image: none;
    }

    .outer_container {
        background-color: white;
        border: 1px solid white;
        height: 100%;
        width: 380px;
        margin-left: 3px;
        margin-top: 70px;

    }

    .edit {
        margin-top: 50px;
    }

    #save_button {
        margin-top: -20px;
    }

    #next {
        margin-top: -20px;
    }

    .details p {
        font-size: 25px;
        position: relative;
        left: 60px;
        top: 30px;
        padding-top: 20px;

    }

    button {
        height: 40px;
        width: 200px;
        position: relative;
        left: 30px;
        font-size: 20px;
        border-radius: 30px;
        border-color: rgb(235, 232, 225);
        background: rgba(0, 0, 0, 0.7);
        color: wheat;


    }

    button:hover {
        color: white;
        background-color: green;
    }

    .profile_image img {
        height: 150px;
        width: 150px;
        margin-left: 20px;
        margin-top: -70px;
    }

    #file {
        margin-left: -200px;
        display: none
    }

    #uploadbtn {
        height: 35px;
        width: 190px;
        border-radius: 20px;
        /* padding-top: 20px; */
        position: absolute;
        transform: translateX(-50%);
        text-align: center;
        background: rgba(0, 0, 0, 0.7);
        color: wheat;
        line-height: 30px;
        cursor: pointer;
        margin-top: 80px;
        margin-left: -40px;
        /* display: none; */
    }

    #uploadbtn:hover {
        color: white;
        background-color: green;
    }

    label {
        font-size: 20px;

    }

    input {
        height: 40px;
        width: 300px;
        border-radius: 20px;
        border-color: rgb(235, 232, 225);
        outline: none;
    }

    input:focus {
        outline: none;
        border-color: rgb(49, 146, 194);
        box-shadow: 1px 1px 1px 1px rgb(49, 146, 194);
    }

    h1 {
        position: relative;
        left: 180px;
        top: -400px;

    }

    .profile_form {
        display: flex;
        justify-content: space-evenly;
        position: relative;
        left: 150px;
        top: 400px;
    }

    .fname_container {
        position: relative;
        top: -450px;
        left: 10px;
    }

    .lname_container {
        position: relative;
        top: -370px;
        left: -300px;
    }

    .email_container {
        position: relative;
        left: 40px;
        top: 50px;
    }

    .email_container input {
        height: 40px;
        width: 300px;
    }

    .city_container {
        position: relative;
        top: -330px;
        left: 10px;
    }

    .country_container {
        position: relative;
        top: -240px;
        left: -300px;
    }

    .profile_form2 {
        display: flex;
        justify-content: space-evenly;
        position: relative;
        left: 150px;
        top: 400px;
    }

    .address_container {
        position: relative;
        left: 40px;
        top: 180px;
    }

    .address_container input {
        height: 40px;
        width: 800px;
    }

    .occupation_container {
        position: relative;
        top: 550px;
        left: 10px;
    }

    .number_container {
        position: relative;
        top: 650px;
        left: -300px;
    }

    a {
        text-decoration: none;
        color: wheat;
    }

}