body{
    margin: 0;
    padding: 0;
    
}
.bgimg{
    background-image: linear-gradient(rgb(4,9,34,0.3),rgb(4,9,34,0.3)),url(../image/register.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: -30px;
}
h1{
    color:white;
    font-size: 50px;
}
fieldset{
    color:white;
    height:900px;
    width: 500px;
}
.mm{
    margin-left: 100px;
}