* {
    margin: 0;
    padding: 0;
}

.background {
    background-image: linear-gradient(rgba(4, 9, 34, 0.464), rgba(4, 9, 34, 0.475)), url(../image/orderbackground.jpeg);
    height: 892px;
    width: 100%;
    background-size: cover;

}

fieldset {
    height: 750px;
    width: 700px;
    margin-left: 400px;
    margin-top: 60px;
    font-size: 20px;
    color: white;

}

h1 {
    text-align: center;
    position: relative;
    top: 50px;
    color: white;
    font-weight: 700;
}

a {
    text-decoration: none;

}

#nextbutton {
    height: 30px;
    width: 150px;
    font-size: 15px;

}

#backbutton {
    height: 30px;
    width: 150px;
    font-size: 15px;
    /* margin-left: -250px; */

}

.information {
    margin-left: 20px;
    margin-top: 10px;
}
@media screen and (max-width:400px) {
    fieldset{
        width: 350px;
        margin-left: 20px;
    }
}