body {
    margin: 0;
    padding: 0;
    font-size: 18px;

}

.bgimg {
    background-image: linear-gradient(rgba(10, 17, 53, 0.592), rgba(4, 9, 34, 0.573)), url(../image/rooftop\ farming.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 895px;
    width: 100%;
    margin-top: -30px;
}

h1 {
    color: white;
    font-size: 40px;
    margin-left: 475px;
    position: relative;
    top: 40px;


}

fieldset {
    border: 2px solid white;
    color: white;
    font-weight: 800;
    font-size: 22px;
    background-color: transparent;
    height: 700px;
    width: 500px;
    margin-top: 60px;
    margin-left: 500px;
    border-radius: 30px;
}

.mm {
    margin-left: 100px;
}

a {
    text-decoration: none;
    color: black;
}

.next {
    margin-left: 350px;
    margin-top: 10px;


}

#nextbutton {
    height: 30px;
    width: 150px;
    font-size: 15px;

}

#backbutton {
    height: 30px;
    width: 150px;
    font-size: 15px;
    margin-left: -250px;

}

#first-name {
    margin-left: 50px;
    width: 200px;
}
#E-mail{
    margin-left: 40px;
    width: 200px;
}
#Password{
    margin-left: 15px;
    width: 200px;

}
#age{
    margin-left: 70px;
    width: 200px;
}
#address{
    margin-left: 35px;
    width: 200px;

}
#location{
    margin-left: 30px;
    width: 200px;
}
#City{
    margin-left: 70px;
    width: 200px;
}
#num{
    margin-left: 37px;
    width: 200px;
}