*{
    margin: 0;
    padding: 0;
}
.background{
    background-image:  linear-gradient(rgb(4, 9, 34, 0.3), rgb(4, 9, 34, 0.3)),url(../image/orderbackground.jpeg);
    height: 892px;
    width: 100%;
    background-size: cover;
    
}