.container {
    border: 1px solid black;
    height: 600px;
    width: 400px;
    position: relative;
    left: 500px;
}

h2 {
    text-align: center;
}

input {
    display: flex;
    flex-wrap: wrap;
    height: 35px;
    width: 320px;
    margin-top: 10px;
}

.subcontainer {
    margin-left: 30px;
}