/* header */
body{
    color:rgb(35, 126, 10);
    font-size: 18px;
    overflow-x:hidden ;
    margin: 0%;
    padding: 0%;
}
header {
    background-color: rgb(108, 145, 53);
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    margin-top: -150px;
}
a{
    transition: 0.5s;
}
a:hover{
   transform: scale(1.1);
}
.menu-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;

}

.menu-bar .main {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;

}

.menu-bar {
    margin-left: 350px;
    margin-top: 50px;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: 700;
}

.menu-bar .main a {
    padding-left: 70px;
}

.logo {
    border: 2px solid white;
    border-radius: 20px;
    height: 60px;
    width: 170px;
    margin-left: 250px;
    margin-top: 20px;
}

.hd1 {
    float: right;
    color: white;
    word-spacing: 35px;
    font-size: 25px;
    margin-right: 150px;
    margin-top: 40px;

}
.main_div{
    margin-top: 10%;
}
.bussiness_name{
    display: flex;
    justify-content: space-around;
    margin-left: -40px;
    margin-right: 50px;
}


.top-head{
    display: block;
    font-weight: 600;
    background: #F5F5F5;
    padding: 11px 16px;
    line-height: 26px;
    text-align: center;
}
.bussiness_name .top-head{
    width: 400px;
    
}
.bussiness_name input, select{
    max-width: none;
    height: 60px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 15px;
    color: #303030;
    margin: 0;
    width: 350px;
    margin-left: -40px;
}
/* .year{
    margin-left: 50px;
} */
#type{
    width: 400px;
    height: 60px;
}
#type1{
    margin-left: 90px;
    width: 400px;
}
.date-choose input{
    border: 1px solid #EBEBEB;
    background: #FFF;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    width: 600px;
    height: 60px;
    padding: 12px 15px;
}
.list-checkbox .checkbox{
    font-size: 16px;
    width: auto;
    font-weight: var(--button-font);
    background: #fffefec5;
    border-style: solid;
    border-color: #74787c18;
    margin: 5px;
    padding: 11px 16px;
    line-height: 26px;
}
.date{
    float: left;
    /* width: 50%; */
    margin-left: 90px;
}
.date label{
    width: 600px;
}
.item{
    width: 20px;
    margin-right: 5px;
}
.date-choosing{
    width: 600px;
}
.list-checkbox input{
   width: 15px;
   padding: 0;
}
.list-checkbox{
    display: flex;
    flex-wrap: wrap;
}
.addres{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    /* float: right; */
}
.addres input{
    width: 600px;
    margin-top: 10px;
    margin-left: 30px;
    height: 80px;
    border: 1px solid #EBEBEB;
    background: #FFF;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding: 12px 15px;
    color: #303030;
}
.next{
    position: relative;
    left: 1200px;
    top: -300px;
    
}
.upload{
    position: relative;
    left: 450px;
    top: -100px;
    width: 200px;
    height: 50px;
    border: 0px solid rgb(108, 145, 53);
    border-radius: 40px;
    background-color: rgb(108, 145, 53);
    color: white;
    font-weight: 600px;
    font-size: 20px;
}
button{
    width: 200px;
    height: 50px;
    border: 0px solid rgb(108, 145, 53);
    border-radius: 40px;
    background-color: rgb(108, 145, 53);
    color: white;
    font-weight: 600px;
    font-size: 20px;
}
button a{
    text-decoration:none ;
    font-size: 20px;
}
#message{
    position: relative;
    left: 450px;
    top: -130px;
    height: 120px;
    width: 850px;
}
#image{
    border: 1px solid black;
    position: relative;
    left: 450px;
    top: -130px;
    height: 120px;
    width: 850px;
}
.year .top-head{
    width: 380px;
    margin-left: 90px;
    margin-top:50px ;
}
#type{
    margin-left: 80px;
}
.year input{
    border: 1px solid #EBEBEB;
    background: #FFF;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    width: 400px;
    height: 60px;
    padding: 12px 15px;
    margin-left: 90px;
}
.bankdetails input{
    width: 400px;
    height: 85px;
    border: 1px solid #EBEBEB;
    background: #FFF;
}
#myImg{
    height: 350px;
    width: 350px;
    position: relative;
    left: -400px;
    top: -150px;
}
#inputbox{
    position: relative;
    top: -135px;
    left: 5px;
    border: none;
}
.bankdetails .top-head{
    width: 380px;
}
.subclass {
    margin-left: 450px;
    margin-top: -155px;
    
}
.post{
    position: relative;
    left: 30px;
    font-size: 22px;
    font-weight: bold;
}
.branchname{
    margin-left: 450px;
    margin-top: -180px;
    
}
.class_div{
    margin-top: 50px;
}
.ifsccode{
    margin-left: 450px;
    margin-top: -175px;
}
.salary{
    margin-left: 900px;
    margin-top: -180px;
    
}

.terms{
    margin-top: 50px;
}
.terms select{
    position: relative;
    left: -70px;
}
#termsand{
    margin-left: 70px;
    width: 400px;
}

/* footer */ 

.footer {
    background-color: white;
    color: rgb(108, 145, 53);
    display: flex;
    justify-content: space-around;
    line-height: 2;
    letter-spacing: 2px;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    /* margin-top: 700px; */

}


.footer1 {
    display: flex;
    align-items: center;
}

.footerone {
    padding-left: 30px;
}

.footertwo {
    display: flex;
    align-items: center;
}

.foot {
    background-color: rgb(108, 145, 53);
    height: 50px;
    width: 1600px;
    bottom: 0;
}
hr{
    margin-top: -50px;
}
@media screen and (max-width:400px) {
    header{
        display: none;
    }
    footer,hr{
        display: none;
    }
    #forms input{
       height: 40px;
       width: 250px;
    }
  
    .year .top-head{
        width: 300px; 
       
    }
    .year select{
        width: 100px; 
    }

}
