* {
    box-sizing: border-box;

}

body {
    background-image: url(../image/various-vegetables-black-table-with-space-message.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
    margin: 0;
}

.container {
    background-color: white;
    border-radius: 50px;
    box-shadow: -8px 8px 40px rgb(212, 219, 215);
    overflow: hidden;
    max-width: 100%;
    width: 450px;

}

.container img {
    height: 90px;
    width: 200px;
    margin-left: 120px;
    margin-top: 10px;
}

.header {
    border-bottom: 1px solid white;
    background-color: white;
    padding: 20px 40px;
}

.header h1 {
    margin: 0;
    text-align: center;
    font-size: 30px;
}

.form {
    padding: 40px 50px;

}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;

}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    border: 2px solid grey;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 8px;
    width: 100%;

}

.form-control input:focus {
    outline: none;
    border-color: rgb(49, 146, 194);
    box-shadow: 1px 1px 1px 1px rgb(49, 146, 194);
}

.form-control.success input {
    border-color: green;
}

.form-control.error input {
    border-color: red;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.form-control.success i.fa-check {
    color: green;
    visibility: visible;

}

.form-control.error i.fa-circle-exclamation {
    color: red;
    visibility: visible;

}

.form-control small {
    color: red;
    position: absolute;
    left: 0;
    bottom: 0;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    background-color: #1d242e;
    border: none;
    color: white;
    display: block;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;

}

.form p {
    margin-top: 30px;
    margin-left: 30px;
    font-size: 18px;
}

button a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width:400px) {
    .container {
        background-color: white;
        box-shadow: 20px 20px 20px rgb(218, 224, 220);
        overflow-y: hidden;
        max-width: 100%;
        width: 450px;
        border-radius: 0px;
    
    }
    .header h1{
        margin-top: 50px;
    }
}