body {
    background-image:  linear-gradient(rgba(246, 246, 246, 0.464), rgba(246, 246, 249, 0.475)),url(../image/loginbg.jpeg);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    background-position: center;
    overflow-y: hidden;
    background-repeat: no-repeat;
}

* {
    margin: 0px;
    padding: 0px;
}

.signupp {
    height: 790px;
    width: 1000px;
    display: flex;
    margin-top: 100px;
    margin-left: 250px;
    border-radius: 30px;
}

.left {
    width: 600px;
    height: 700px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 15px 15px rgb(248, 238, 238);
}

.left img {
    width: 640px;
    height: 700px;
}

.right {
    width:550%; 
    height: 700px;
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgb(248, 238, 238);
}

label {
    display: flex;
    align-items: center;
    height: 50px;
}

label input {
    width: 300px;
    border-width: 0px 0px 1.5px 0px;
    height: 30px;
    margin-left: 40px;
}

.fl {
    display: flex;
    margin-left: 40px;
}

.btn {
    display: flex;
    justify-content: space-around;
    margin-left: 13px;
}

button {
    height: 35px;
    width: 170px;
    padding: 5px;
    border-radius: 20px;
    border: none;
    background-image: radial-gradient(farthest-corner at 30px 40px,
            rgb(4, 183, 37) 40%,
            rgb(51, 133, 31) 60%);
    font-size: 20px;
    margin-top: -15px;
}

button a {
    color:black;
    font-weight: 550;
    /* margin-top: -30px; */
}

a {
    text-decoration: none;
    color: black;
    /* margin-top: -50px; */
}

h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 35px;
}
/* .btn p{
    margin-right: 50px;
} */
/* .btn a{
    margin-right: 20px;
} */

p a{
    font-size: 20px;
}