body {
    overflow-x: hidden;
}

/* header */
header {

    background-color: rgb(108, 145, 53);
    height: 100px;
    width: 99%;
    position: fixed;
    z-index: 2;
    display: flex;
}

.menu-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;

}

.menu-bar .main {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;

}

.menu-bar {
    margin-left: 80px;
    margin-top: 40px;
}

a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: 700;
}

.menu-bar .main a {
    padding-left: 70px;
}

.logo {
    border: 2px solid white;
    border-radius: 20px;
    height: 60px;
    width: 170px;
    margin-left: 150px;
    margin-top: 20px;
}
.login{
    position: relative;
}
.navi {
    text-decoration: none;
    color: white;
}

.navi:hover {
    font-size: 35px;
    color: black;
}
.dropdown-content button a{
    color: white;
    position: relative;
    left: -58px;
}
.img1 {
    margin-top: -90px;
    background-image: url("../image/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 890px;
    width: 100%;
}
#cart_icon{
    position: relative;
    left: 30px;
}
#cartcount{
    position: relative;
    left: 32px;
    top: -42px;
    font-size: 22px;
    color: white;

}
.hd1 {
    float: right;
    color: white;
    word-spacing: 35px;
    font-size: 24px;
    margin-right: 150px;
    margin-top: 40px;

}

#icon {
    position: relative;
    left: 200px;
    font-size: 28px;
    color: white;
}

/* dropdown button */
#dropbtn {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    left: 35px;
    min-width: 120px;
    z-index: 1;
}

.dropdown-content a {
    color: rgb(108, 145, 53);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: none;
}

.dropdown-content a .fruits {
    background: rgba(0, 0, 0, 0.7);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown li::after {
    background-color: white;
    display: block;
    height: 3px;
    width: 0%;
    margin: auto;
    transition: 0.7s;
}
.fruits{
    position: relative;
    left: 38px;
}

/* content */
.para {
    font-size: 90px;
    color: white;
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}

.shop {
    position: relative;
    top: -380px;
    left: 650px;
    font-size: 25px;
    height: 40px;
    padding: 10px 40px 10px 40px;
    background-color: white;
    border: white 2px solid;
    border-radius: 30px;
    color: gray;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
}

.shop:hover {
    color: white;
    background-color: rgb(108, 145, 53);
    border: 0px solid rgb(108, 145, 53);
}

.bor {
    border: 2px solid white;
    height: 90px;
    width: 1400px;
    margin-left: 30px;
    margin-top: -300px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.page2,
.page3 {
    height: 350px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin-left: 230px;

}

.mpage1 {
    width: 620px;
    height: 350px;
    display: flex;
    flex-direction: row;
    border: 5px solid rgb(108, 145, 53);
    border-radius: 50px;
    box-shadow: 15px 15px 15px rgb(170, 174, 171);
    align-items: center;
    background-color: rgb(245, 251, 246);
    margin-left: 70px;
    margin-top: 55px;
    margin-bottom: 200px;
    transition: 0.5s;
}

.mpage1:hover {
    transform: scale(1.05);
}

.mpage2 {
    width: 620px;
    height: 350px;
    display: flex;
    flex-direction: row;
    border: 5px solid rgb(108, 145, 53);
    border-radius: 50px;
    box-shadow: 15px 15px 15px rgb(170, 174, 171);
    align-items: center;
    background-color: rgb(245, 251, 246);
    margin-left: 70px;
    margin-top: 55px;
    margin-bottom: 200px;
    transition: 0.5s;
}

.mpage2:hover {
    transform: scale(1.05);
}

.p2 {
    height: 300px;
    width: 300px;
    padding-left: 20px;
    border-radius: 40px;
}

.p3 {
    height: 300px;
    width: 300px;
    padding-left: 20px;
    border-radius: 40px;
}

.fv {
    font-size: 40px;
    margin-left: -220px;
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;

}

.but,
.but1 {
    color: gray;
    font-size: 30px;
    margin-left: -220px;
    border: 2px solid white;
    background-color: rgb(228, 224, 224);
    padding: 8px 25px 8px 25px;
    position: relative;
    top: -30px;
    border-radius: 20px;
    transition: 0.5s;
    text-decoration: none;
}

.but:hover {
    transform: scale(1.1);
    color: white;
    background-color: rgb(108, 145, 53);

}

.but1:hover {
    transform: scale(1.1);
    color: white;
    background-color: rgb(108, 145, 53);

}

.ff {
    font-size: 40px;
    margin-left: -200px;
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}

.bg {
    display: flex;
    flex-direction: row;
    height: 900px;
}

/* features */
.features {
    background-color: rgb(235, 242, 225);
    height: 1000px;
    width: 100%;
    margin-top: -430px;
}

.vegimg {
    margin-left: 260px;
    margin-top: 120px;
}

.heading2 {
    margin-left: 600px;
    margin-top: -450px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgreen;
}

.heading3 {
    margin-left: 600px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkolivegreen;
    /* margin-top: -400px;  */
}

.box1 {
    margin-left: 590px;
    margin-top: -20px;
}

.box1 img {
    height: 90px;
    width: 300px;
    transition: 0.5s;
}

.box1 img:hover {
    transform: scale(1.1);
    height: 90px;
    width: 300px;
    transition: 0.5s;
}

.box2 {
    margin-left: 590px;
    margin-top: -15px;
}

.box2 img {
    height: 90px;
    width: 300px;
}

.hdng {
    padding-left: 80px;
    margin-top: -20px;
}

.hdng1 {
    padding-left: 80px;
    margin-top: -65px;
}

.boxes img {
    padding-left: 10px;
    padding-top: 30px;
}


/* background */
.background1 {
    background-image: linear-gradient(rgba(2, 7, 32, 0.3), rgba(0, 1, 7, 0.3)), url("../image/imp.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    width: 100%;
    margin-top: -400px;
}


h1 {
    color: white;
    position: relative;
    left: 180px;
    top: 230px;
    font-size: 80px;
    font-weight: 800;
}

.borderofbox {
    border: 2px solid white;
    height: 650px;
    width: 500px;
    position: relative;
    top: -380px;
    left: 750px;
    background-color: white;
}

.borderofbox .feedback {
    height: 120px;
    width: 350px;
    padding-left: 70px;
}

#feedback_form {
    text-align: center;


}

#feedback_form input {
    width: 400px;
    height: 50px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(164, 162, 162);
}

#feedback_form #name {
    margin-top: 50px;
}

#feedback_form #email {
    margin-top: 50px;
}

#feedback_form #message {
    height: 70px;
    width: 400px;
    margin-top: 50px;
}

#feedback_form textarea {
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(164, 162, 162);
}

button {
    border: 0px solid rgb(108, 145, 53);
    ;
    height: 50px;
    width: 300px;
    font-size: 20px;
    color: white;
    background-color: rgb(108, 145, 53);
    margin-top: 50px;
}

/* slider */
#slider {
    overflow: hidden;
    margin-top: 100px;
    height: 350px;
    width: 80%;

}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 6s slider infinite;
}

#slider figure img {
    float: left;
    width: 800px;
    margin-left: 500px;
    object-fit: cover;
}


@keyframes slider {
    0% {
        left: 0%;
    }

    20% {
        left: -20%;
    }

    25% {
        left: -120%;
    }

    45% {
        left: -120%;
    }

    50% {
        left: -230%;
    }

    70% {
        left: -230%;
    }

    75% {
        left: -340%;
    }

    95% {
        left: -340%;
    }

    100% {
        left: -400%;
    }
}


@media screen and (max-width:400px) {
    body {
        width: 100%;
    }

    header {
        width: 100%;
        height: 140px;
        margin-left: -50px;
    }

    .logo {
        border: 2px solid white;
        border-radius: 20px;
        height: 50px;
        width: 100px;
        margin-left: 50px;
        margin-top: 20px;
    }

    .menu-bar ul {
        list-style: none;
        /* display: flex; */
        flex-direction: row;
        /* justify-content: space-around; */
        text-decoration: none;
        /* font-size: 10px; */

    }

    .menu-bar {
        margin-left: -500px;
        margin-top: 40px;

    }

    .img1 {
        background-size: cover;
        background-repeat: no-repeat;
        width: 600px;
        /* width: 1590px; */
        height: 700px;
        margin-left: -200px;
    }

    .para {
        /* font-size: 20px; */
        color: white;
        width: 100%;
        height: 750px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        margin-left: 210px;
        font-size: 80px;
    }


    .mainpage2,
    .mainpage3 {
        display: flex;
        justify-content: center;
    }

    .p2 {
        height: 250px;
        width: 300px;
        margin-top: -200px;
    }

    .fv {
        margin-left: -500px;
        margin-top: 220px;
    }

    .but {
        margin-left: -500px;
    }

    .mpage1 {
        margin-left: -1100px;
        width: 350px;
        height: 500px;
    }

    .mpage2 {
        margin-left: -1100px;
        width: 350px;
        height: 500px;
        margin-top: -150px;
    }

    .p3 {
        height: 250px;
        width: 300px;
        margin-top: -200px;
    }

    .ff {
        margin-left: -500px;
        margin-top: 220px;
    }

    .but1 {
        margin-left: -500px;
    }


    .shop {
        position: relative;
        top: -380px;
        left: 630px;
        font-size: 25px;
        height: 40px;
        padding: 10px 40px 10px 40px;
        background-color: white;
        border: white 2px solid;
        border-radius: 30px;
        color: gray;
        text-decoration: none;
        font-weight: 500;
        transition: 0.5s;
    }

    .bor {
        display: none;
    }

    .menu-bar .main {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        /* flex-wrap: nowrap; */
        justify-content: space-between;
        text-decoration: none;
        margin-left: 200px;
        margin-top: 60px;

    }

    .product {
        margin-left: -35px;
    }

    .login {
        margin-left: -30px;
    }

    .menu-bar .main a {
        font-size: 20px;

    }

    .register {
        margin-left: -30px;
    }


    .bg {
        /* border: 2px solid black; */
        width: 1480px;
        height: 1235px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .features {
        background-color: rgb(235, 242, 225);
        height: 1200px;
        width: 385px;
        margin-top: -60px;

    }

    .heading2 {
        margin-left: 50px;
        font-size: 25px;
        margin-top: 10px;
    }

    .heading3 {
        margin-left: 50px;
        font-size: 20px;
        margin-top: 10px;
    }

    .vegimg {
        height: 350px;
        width: 300px;
        margin-left: 50px;
        margin-top: 30px;
    }

    .featurebox1 {
        margin-left: -550px;
    }

    .featurebox2 {
        margin-left: -310px;
        margin-top: 120px;
    }

    .featurebox3 {
        margin-left: -550px;
        margin-top: 10px;
    }

    .featurebox4 {
        margin-left: -310px;
        margin-top: 130px;
    }

    .box1 {
        display: flex;
        /* margin-left: -200px; */
    }

    .box2 {
        display: flex;
    }

    .background1 {
        margin-top: 0px;
        width: 1590px;
        height: 500px;
        margin-left: -500px;
    }

    .background1 h1 {
        font-size: 40px;
        margin-left: 250px;
        /* margin-top: -100px; */

    }

    #slider {
        display: none;
    }

    footer {
        display: none;
    }

}

/* footer */

.footer {
    background-color: white;
    color: rgb(108, 145, 53);
    display: flex;
    justify-content: space-around;
    line-height: 2;
    letter-spacing: 2px;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;

}


.footer1 {
    display: flex;
    align-items: center;
}

.footerone {
    padding-left: 30px;
}

.footertwo {
    display: flex;
    align-items: center;
}

.foot {
    background-color: rgb(108, 145, 53);
    height: 50px;
    width: 100%;
    bottom: 0;


}