body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;

}

/* header */
header {

    background-color: rgb(108, 145, 53);
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
}

.menu-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;

}


.menu-bar {
    margin-left: 350px;
    margin-top: 40px;
}

.hdg {
    font-size: 25px;
}

header a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.menu-bar ul li {
    padding-left: 90px;
    margin-top: -50px;
}

.logo {
    border: 2px solid white;
    border-radius: 20px;
    height: 60px;
    width: 160px;
    margin-left: 250px;
    margin-top: 20px;
}

.navi {
    text-decoration: none;
    color: white;
}

.navi:hover {
    font-size: 35px;
    color: black;
}

#search {
    margin-left: -230px;
    height: 40px;
    width: 250px;
    /* border-radius: 30px; */
}

a i {
    position: relative;
    top: -70px;
    font-size: 27px;
    left: 580px;
}

#cartcount {
    position: relative;
    top: -150px;
    font-size: 25px;
    left: 610px;
    color: white;

}

/* product-list-container start */

/* product card start */

main .product-list-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 150px 20px 20px 20px;

}

main .product-list-container .product-card {
    border: 2px solid white;
    box-shadow: -5px 5px 10px 5px rgb(196, 229, 186);
    width: 285px;
    height: 420px;
    /* border-radius: 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

main .product-list-container .product-card img {
    width: 150px;
    height: 120px;
}

main .product-list-container .product-card p {
    font-weight: 800px;
    font-size: 20px;
    color: black;
}


main .product-list-container .product-card .product-ratings {
    margin-bottom: 15px;
}

main .product-list-container .product-card .product-ratings i {
    color: gold;
    font-size: 20px;
}

main .product-list-container .product-card .buy-now,
main .product-list-container .product-card .add-to-cart {
    border: 0px solid rgb(108, 145, 53);
    border-radius: 30px;
    background-color: rgb(108, 145, 53);
    font-size: 20px;
    padding: 5px 40px 5px 80px;
    margin-bottom: 10px;
    color: white;

}

.product-list-container a {
    text-decoration: none;
}

.sellerprofile {
    position: relative;
    left: 100px;
    top: 20px;
    height: 70px;
    width: 70px;
}

.btn1 {
    height: 30px;
    width: 30px;
    /* background-color: rgb(108, 145, 53);
    color: white;
    font-weight: bolder; */
    
}

.btn-input {
    height: 24px;
    width: 50px;
    text-align: center;
    /* background-color: rgb(108, 145, 53);
    color: white;
    font-weight: bolder; */
    
}

/* product card end */
/* product-list-container end */

.footer {
    background-color: white;
    color: rgb(108, 145, 53);
    display: flex;
    justify-content: space-around;
    line-height: 2;
    letter-spacing: 2px;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;


}

@media screen and (max-width:400px) {

    /* header */
    header {

        background-color: rgb(108, 145, 53);
        height: 150px;
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 2;
        display: flex;
    }

    .menu-bar ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-decoration: none;

    }


    .menu-bar {
        margin-left: 270px;
        margin-top: 40px;
    }

    .hdg {
        font-size: 25px;
    }

    header a {
        text-decoration: none;
        font-size: 15px;
        font-weight: 700;
        color: white;
    }

    .menu-bar ul li {
        padding-left: 50px;
        margin-top: -50px;
    }

    .logo {
        border: 2px solid white;
        border-radius: 20px;
        height: 40px;
        width: 120px;
        margin-left: 10px;
        margin-top: 20px;
    }

    .navi {
        text-decoration: none;
        color: white;
    }

    .navi:hover {
        font-size: 35px;
        color: black;
    }

    #search {
        margin-left: -320px;
        margin-top: 50px;
        height: 40px;
        width: 300px;
        /* border-radius: 30px; */
    }

    .hdg {
        position: relative;
        top: -70px;
        left: -350px;
        font-size: 20px;

    }

    footer {
        display: none;
    }

    hr {
        display: none;
    }
}

/* footer */
.footer1 {
    display: flex;
    align-items: center;
}

.footerone {
    padding-left: 30px;
}

.footertwo {
    display: flex;
    align-items: center;
}

.foot {
    background-color: rgb(108, 145, 53);
    height: 50px;
    width: 100%;

}