body {
    margin: 0px;
    padding: 0;
}

header {
    background-color: rgb(108, 145, 53);
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.logo {
    border: 2px solid white;
    border-radius: 20px;
    height: 60px;
    width: 200px;
    margin-left: 250px;
    margin-top: 20px;
}

.navi {
    text-decoration: none;
    color: white;
}

.navi:hover {
    font-size: 35px;
    color: black;
}

.hd1 {
    float: right;
    color: white;
    word-spacing: 35px;
    font-size: 25px;
    margin-right: 150px;
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: white;
}

.part1,
.part2,
.part3,
.part4,
.part5,
.part6,
.part7 {
    text-align: center;
    position: relative;
    top: 160px;
    border: 2px solid rgb(218, 224, 220);
    box-shadow: -10px 10px 30px 10px rgb(218, 224, 220);
    border-radius: 50px;
    height: 420px;
    width: 270px;
    margin-left: 80px;
}

.part8,
.part9,
.part10,
.part11,
.part12 {
    text-align: center;
    position: relative;
    top: 160px;
    border: 2px solid rgb(218, 224, 220);
    box-shadow: -10px 10px 30px 10px rgb(218, 224, 220);
    border-radius: 50px;
    height: 420px;
    width: 270px;
    margin-left: 80px;
}

.part13,
.part14,
.part15,
.part16,
.part17,
.part18 {
    text-align: center;
    position: relative;
    top: 160px;
    border: 2px solid rgb(218, 224, 220);
    box-shadow: -10px 10px 30px 10px rgb(218, 224, 220);
    border-radius: 50px;
    height: 420px;
    width: 270px;
    margin-left: 80px;
}

.part19,
.part20,
.part21,
.part22,
.part23,
.part24 {
    text-align: center;
    position: relative;
    top: 160px;
    border: 2px solid rgb(218, 224, 220);
    box-shadow: -10px 10px 30px 10px rgb(218, 224, 220);
    border-radius: 50px;
    height: 420px;
    width: 270px;
    margin-left: 80px;
}

.con1 {
    margin-top: -35px;
}

#but {
    height: 30px;
    width: 200px;
    border: 0px solid rgb(108, 145, 53);
    border-radius: 30px;
    background-color: rgb(108, 145, 53);

}

.mpart1,
.mpart2,
.mpart3,
.mpart4,
.mpart5,
.mpart6 {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;

}

#star {
    color: gold
}
.footer {
    background-color: white;
    color: rgb(108, 145, 53);
    display: flex;
    justify-content: space-around;
    line-height: 2;
    letter-spacing: 2px;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    

}
hr{
    margin-top: 250px;
}

.footer1 {
    display: flex;
    align-items: center;
}

.footerone {
    padding-left: 30px;
}

.footertwo {
    display: flex;
    align-items: center;
}

.foot {
    background-color: rgb(108, 145, 53);
    height: 50px;
    width: 100%;

}